<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pier Carson</title>  
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/maison-neue" rel="stylesheet">
<script src="https://kit.fontawesome.com/7368c40b21.js" crossorigin="anonymous" ></script>
<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>   -->
 
    
  
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="contactus.css" />
  <!-- Needed for hamburger menu -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  <link rel="stylesheet" href="slider-def.css">
  <link rel="stylesheet" href="aboutus.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png>
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">

  
</head>
<body>
    <nav id="mainmenu">
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <!-- font awesome hamburger class icon -->
            <i class="fa fa-bars"></i>
            
            </label>
        <img class="logo" src="images/piercarsonnav2.PNG" alt="Pier Carson" width="120px">
        

    <ul class="menu-items">
        <li><a id="homelink" href="#home" class="nav-link">Home</a></li>
        <li><a id="aboutlink" href="#about" class="nav-link">About</a></li>
        <li><a id="menulink" href="#menu" class="nav-link">Menu</a></li>
        <li><a id="visitlink" href="#visitus" class="nav-link">Visit Us</a></li>
        <li><a id="contactlink" href="#contact" class="nav-link">Contact Us</a></li>
    </ul>
    <embed src="/media/beachsounds.mp3" loop="true" autostart="false" width="160" height="60">
  
    </nav>
    <!-- -------------- HOME -------------- -->
    
<div id="home">
    <h1 id="welcome">WELCOME (text hidden) </h1>
    

    <div id="slider">
        <div class="slides">
        
        <!-- First slide -->
        <div class="slider">
        <div class="legend"></div>
        <div class="content">
        <div class="content-txt">
        <h1> Guaranteed fresh out of the oven </h1>
        <h2> We have an extensive menu to choose from</h2>
        </div>
        </div>
        <div class="imageshome">
        <img src="Images/Jquery.image4.JPG">
        </div>
        </div>
        
        <!-- Second slide -->
        <div class="slider">
        <div class="legend"></div>
        <div class="content">
        <div class="content-txt">
        <h1> Friendly staff always here for you   </h1>
        <h2> Our polished, quality staff cater to your needs </h2>
        </div>
        </div>
        <div class="imageshome">
        <img src="Images/Jquery.image5.JPG">
        </div>
        </div>
        
        <!-- Third slide -->
        <div class="slider">
        <div class="legend"></div>
        <div class="content">
        <div class="content-txt">
        <h1> Platter Specials Available </h1>
        <h2> Order a Seafood platter to satisfy cravings!  </h2>
        </div>
        </div>
        <div class="imageshome">
        <img src="Images/Jquery.image2.JPG">
        </div>
        </div>
        
        <!-- Fourth slide -->
        <div class="slider">
        <div class="legend"></div>
        <div class="content">
        <div class="content-txt">
        <h1> Welcome to Pier Carson! </h1>
        <h2> We hope you enjoy your stay </h2>
        </div>
        </div>
        <div class="imageshome">
        <img src="Images/Jquery.image1.JPG">
        </div>
        </div>
        
        </div>
        </div>

    <!-- ------------------ END HOME ------------------ -->

    <!-- ------------------ ABOUT US ------------------ -->
    <div id="about"></div>
    <div class="aboutus">
      <div class="heading">ABOUT US</div>
      <div class="images">
        <figure>
        <img class="aboutmeimg" src="images/crop1.aboutus1.chrisstreble.execchef.png" alt="Chris Streble has 20 years experience cooking amazing dishes" />
        <figcaption> Christopher Streble</figcaption>
        <figcaption>   Executive Chef  </figcaption></figure>
        <figure>
        <img class="aboutmeimg" src="images/crop2.aboutus2.leslieturner.genmanager.png" alt="Leslie brings a wealth of experience to Pier Carson" />
        <figcaption> Leslie Turner</figcaption>
        <figcaption> General Manager</figcaption>
        </figure>
        <figure>
        <img class="aboutmeimg" src="images/crop3.aboutus3.steven.armbruster.beveragemanager.png" alt="Steven has a masters in business administration" />
        <figcaption> Steven Armbruster</figcaption>
        <figcaption> Bar Manager</figcaption></figure>
        <figure>
        <img class="aboutmeimg" src ="images/crop4.aboutus4.brianjones.genmanager.png" alt="Brian has been with the company for nine years" />
        <figcaption> Brian Jones</figcaption>
        <figcaption> Business Manager</figcaption></figure>
      </div>
       
        <!-- -------------- MENU -------------- -->
        <link href="https://fonts.googleapis.com/css?family=Damion|Quicksand" rel="stylesheet"><link rel="stylesheet" href="./menustyle.css">
        <div id="menu"></div>
        <div class="pcmenu">
          <div class="heading">MENU</div>

      </div>
      <div id="menu"></div>
      <a href="https://docs.google.com/spreadsheets/d/1zIVCVA0Tk5CvAiTyeAdDBPygT3aKDiSeM2FbPU0JO2c/edit?usp=sharing" target="_blank" rel="noopener noreferrer">
        <div class="editlink">INSPECT<br />SHEET</div>
    </a>
    <div id="app">
            <section id="specialssection" class="specials-container" v-if="menuItems_L" :style="menuStyle">
                <div id="special_component" :style="menuStyle">
                    <h1>Daily Specials</h1>
                    <div class="specials-table-container">
                        <table>
                            <tbody v-for="item in menuItems_L" :key="`specialmenu-${item.name}`">
                                <tr class="nameandprice">
                                    <td :style="dotStyle">
                                        <span :style="menuStyle">{{item.name}}</span>
                                    </td>
                                    <td :style="dotStyle">
                                        <span :style="menuStyle">${{item.price}}</span>
                                    </td>
                                </tr>
                                <tr class="description">
                                    <td colspan="2">{{item.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody v-for="item in menuItems_R" :key="`specialmenu-${item.name}`">
                                <tr class="nameandprice">
                                    <td :style="dotStyle">
                                        <span :style="menuStyle">{{item.name}}</span>
                                    </td>
                                    <td :style="dotStyle">
                                        <span :style="menuStyle">${{item.price}}</span>
                                    </td>
                                </tr>
                                <tr class="description">
                                    <td colspan="2">{{item.description}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script><script  src="./menuscript.js"></script>
    
        </div>
    
<!-- -------------- CONTACT FORM  -------------- -->

<div id="contact"></div>
        <div class="pccontact">
          <div class="heading">CONTACT US!</div>

      </div>

    <form method="post" action="contact.php" name="contactform" id="contactform">
      <div class="col-md-offset-1 col-md-5">
        <fieldset>
          <input name="name" type="text" id="name" size="30" placeholder="Name">
          <br>
          <input name="email" type="text" id="email" size="30" placeholder="Email">
          <br>
          <input name="phone" type="text" id="phone" size="30" placeholder="Phone">
          <br>
          
        </fieldset>
      </div>
      <div class="col-md-5">
        <fieldset>
          <textarea name="comments" cols="40" rows="20" id="comments" placeholder="Message"></textarea>
        </fieldset>
      </div>
      <div class="col-md-offset-1 col-md-10">
        <fieldset>
          <button type="submit" class="btn btn-lg" id="submit" value="Submit">Send Message</button>
        </fieldset>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    
    <script src="https://kit.fontawesome.com/7368c40b21.js" crossorigin="anonymous" ></script>
      </div>

<script>
  // ABOUT US JS SCRIPT

const images = document.querySelectorAll(".aboutmeimg");
const modal = document.querySelector(".modal");
const modalImg = document.querySelector(".modalImg");
const modalTxt = document.querySelector(".modalTxt");
const close = document.querySelector(".close");

images.forEach((image) => {
  image.addEventListener("click", () => {
    modalImg.src = image.src;
    modalTxt.innerHTML = image.alt;
    modal.classList.add("appear");
    setTimeout(function() {
      modal.classList.remove("appear");
  }, 4000);
  
    modalImg.close();

    close.addEventListener("click", () => {
      
    }
    
    );
  
  });
});
</script>

<script>


// Here is the current script with HOME being the only one currently affected for testing purposes.


  const buttons = document.querySelectorAll(".nav-link");
  buttons.forEach(button => {
    button.addEventListener('click',function(event) {
       document.getElementById('check').checked=false;
       

    })

    // if (button. getElementByID('c'). clicked==review.classlist.contains())
    // $('ul').hide();;
    // document.getElementById("ul").style.left = "-100px"
})


</script>

</body>
</html>