/* Map and Directions section */

.splitscreen {
  
    display: flex;
  flex-wrap: wrap;
  margin :0 auto;
  padding: 0;
background-color: darkgrey;
  
}

/* Desktop display */

.splitscreen .left,.splitscreen .middle, .splitscreen .right, .splitscreen .thankyou
 {
  
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  

 }

  /* Iphone, tablet remove image with less helpful information */

@media (min-width: 350px) and (max-width: 700px) {
  .splitscreen .right
   {
  
   display:none;
 
  
 } 
 
  } 

  @media (min-width: 701px) and (max-width: 2800px) {
    .splitscreen .right
     {
    
     display:all;
     
     
     margin: 20px auto;
     justify-content: center;
     border-top: groove;
     
     
   
   } 
   
    } 

 