/* Map and Directions section */

.splitscreen {
  
    display: flex;
  flex-wrap: wrap;
  margin :0 auto;
  padding: 0;
background-color: darkgrey;
  
}

.splitscreen .left,.splitscreen .middle, .splitscreen .right
 {
  
  display: flex;
  flex-wrap: wrap;
  /* width: 33%; */
	margin: 0 auto;
  justify-content: center;
	

 }


@media (min-width: 300px) and (max-width: 600px) {
  .splitscreen .left
   {
   display: flex;
   flex-wrap: wrap;
   display:none;
   /* max-width: 33%; */
   margin :0px;
   padding: 0;
   justify-content: center; 
 } 
 
  } 

  @media (min-width: 601px) and (max-width: 900px) {
    .splitscreen .left
     {
     display: flex;
     flex-wrap: wrap;
     /* display:none; */
     /* max-width: 33%; */
     margin :0px;
     padding: 0;
     justify-content: center; 
   } 
   
    } 
  
 
/*  
  @media only screen and (min-width: 300px) and (max-width: 900px) {
   .splitscreen .middle, .splitscreen .right
 
   {
     display: flex;
     flex-wrap: wrap;
     
     /* max-width: 33%; */
     /* margin :0px;
     padding: 0; */
    /* justify-content: center;  */
   /* }
  } */


  

 /* .splitscreen .middle, .splitscreen .right{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
	max-width: 33%;
  margin :0px;
  padding: 0;
  
 } */

 /* .splitscreen .right{
  justify-content: center;
 } */