/* Import all font sizes and shapes of Quicksand font */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/79927a8d010a79419f5c30e4d87409d5?family=Visby+CF+Medium');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');



/* Set default box sizing padding html size and font*/

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html {
  /* background-color: #BFBFBF; */
  background-color:rgb(228, 196, 157);
  height: 100%;
}

body{
  font-family: "Quicksand", sans-serif; 
 
}
/* Change nav background color, set navbar height and width for selections */
nav{
  /* background : #F4C95D; */
  width:100%;
  height:80px;
  background: rgb(20,133,172);
background: radial-gradient(circle, rgba(20,133,172,1) 0%, rgba(0,35,70,1) 100%);
  color: yellowgreen;
   margin: auto;
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-decoration: solid;
  font-family: 'Maison Neue', sans-serif;
  z-index: 6;
  top: 0;
  position: sticky;

/* Pushes Pier Carson logo away from edge */
/* Need to adjust outside border color of logo  */

/* Currently testing with plain text due to issues */

}
label.logo{
   
  height: 60px;
  padding: 0 100px;
  
  
}

/* H1 Welcome at start of page */

#welcome {
  background-color: #cfbbb4;
  font-family: "Quicksand", sans-serif; 
  color: black;
  font-family: 'Rouge Script', cursive;
  
  
  text-align: center;
  
  
}
/* Flex display for easy */

nav ul{
  display: block;
  margin-right: 20px;
}

/* Using Inline-block in order to specify height.  Can't do that with display inline */
/* Also added padding to push away from edge */


nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

/* Change Nav Bar anchor colors, convert to uppercase for readability */

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Maison Neue', sans-serif;
  
}

/* Initial Active NavBar specified in HTML */
/* When a hover is detected, change color */

a.active,a:hover{
  background:rgb(223, 138, 138);
  transition: .5s;
}

/* Beginning of Hamburger menu */
/* Creates a checkbox top left that will be hidden */

.checkbtn {
  font-size: 30px;
  color: #F2D2BD;
  
  
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Don't display checkbox next to logo that triggers hamburger menu */

#check{
  display: none;
}

/* If width less than 952px use less padding and initiate hamburger */

@media (max-width: 952px){
  /* label.logo{
    font-size: 30px;
    padding-left: 150px;
  } */
  ul li a{
    font-size: 16px;
  }
}

/* At 858px activate hamburger menu in vertical block in a slow transition l-r*/


@media (max-width: 900px){

  
  .checkbtn{
    display: block;
    
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    
    
   
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
  }
  nav ul li a{
    font-size: 20px;

    
  }

  
  /* When mouse is over a menu item, highlight a different color */

  a:hover {
    background: none;
    color: #0082e6;
    background: black;

    
  }

  #check:checked ~ ul{
    left: 0;

    
    
    
  }
  
}

/* For later, try to change basic color to img in hamburger */

section{
  background: url(images/foodimage2.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

  
